{% extends 'app/base.html' %}

{% load static %}
{% block css %}
<title>Conejo Furioso</title>
{% endblock %}
<img src="" alt="">

{% block content %}
{% load humanize %}

<div class="container mt-5">
    <br>
    <br>
    <br>
    <br>

    <div class="row">
        <!-- IMAGEN-->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div style="display: flex;">
                <img src="{{ product.image }}" class="card-img-top" style="float: left; margin-right: 10px; width: 450px; height: 450px;" alt="...">
            </div>
        </div>
        <!-- INFO PRODUCTO-->
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h1>{{ product.name | capfirst }}</h1>
                        <br>
                        <br>
                        <h2>Descripción del producto</h2>
                        <h3>{{ product.description }}</h3>
                        <h3>Categoría: {{ product.category.name }}</h3>
                        <h3>Volumen: 330 cc.</h3>
                        <h2><b>${{ product.price | intcomma }}</b></h2>
                    </div>
                    {% if product.stock > 0 %}
                    <div>
                        <a href="{% url  'Add' product.id %}" class="btn btn-default bg-primary-3 add-to-cart-btn">Agregar al Carrito</a>
                    </div>
                    {% else %}
                    <div>
                        <h4 class="text-center"><b>Sin Stock</b></h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}